Repository pstoeckle/ShareLaTeX-Versioning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python:setup, python:test

.gitlab-ci.yml:

stages:
    - setup
    - pre-analysis
    - test
    - publish

include:
    -   template: Dependency-Scanning.gitlab-ci.yml
    -   template: License-Scanning.gitlab-ci.yml
    -   template: SAST.gitlab-ci.yml
    -   template: Secret-Detection.gitlab-ci.yml

python:setup:
    artifacts:
        paths:
            - requirements.txt
    cache: &python-cache
        key: ${CI_COMMIT_REF_SLUG}
        paths:
            - ".venv"
    image: gitlab.lrz.de:5005/i4/software/docker-images/python3.9-poetry
    needs: [ ]
    rules: &dependency-rules
        -   if: '$CI_COMMIT_BRANCH == "master"'
        -   if: '$CI_COMMIT_BRANCH == "development"'
            changes:
                - poetry.lock
                - pyproject.toml
                - .gitlab-ci.yml
    script:
        - poetry install
        - poetry export > requirements.txt
    stage: setup

variables:
    ASDF_PYTHON_VERSION: "3.9"
    DS_DEFAULT_ANALYZERS: "gemnasium-python"
    LM_PYTHON_VERSION: "3"
    SAST_DEFAULT_ANALYZERS: "bandit"

sast:
    stage: pre-analysis

secret_detection:
    stage: pre-analysis
    rules: &secret-detection-rules
        -   if: '$CI_COMMIT_BRANCH == "development"'
        -   if: '$CI_COMMIT_BRANCH == "master"'

bandit-sast:
    stage: pre-analysis
    rules:
        -   if: '$CI_COMMIT_BRANCH == "master"'
        -   if: '$CI_COMMIT_BRANCH == "development"'
            changes:
                - "src/sharelatex_versioning/**.py"
                - .gitlab-ci.yml

secret_detection_default_branch:
    stage: pre-analysis
    rules: *secret-detection-rules

gemnasium-python-dependency_scanning:
    before_script:
        - URL="https://gitlab.lrz.de/i4/software/i4sharelatex-versioning/-/jobs/artifacts/$CI_COMMIT_BRANCH/download?job=python:setup"
        - echo "$URL"
        - wget $URL --output-document requirements.txt
        - cat requirements.txt
    stage: pre-analysis
    rules: *dependency-rules
    needs: &dependency-needs
        - python:setup

license_scanning:
    stage: pre-analysis
    rules: *dependency-rules
    needs: *dependency-needs

python:test:
    artifacts:
        reports:
            cobertura: coverage.xml
            junit: report.xml
    cache: *python-cache
    coverage: '/line-rate="0.([0-9]{1,2})\d*"/'
    image: gitlab.lrz.de:5005/i4/software/docker-images/python3.9-poetry
    needs: [ ]
    rules:
        -   changes:
                - "src/sharelatex_versioning/**.py"
                - .gitlab-ci.yml
        -   if: '$CI_COMMIT_BRANCH == "master"'
        -   if: '$CI_COMMIT_BRANCH == "development"'
    script:
        - poetry install
        - poetry run pytest --junitxml report.xml --cov=sharelatex_versioning --cov-report xml ./src/sharelatex_versioning/tests
        - head -n 2 coverage.xml >> t.txt
        - tail -n 1 t.txt >> s.txt
        - cat s.txt
    stage: test



python:deploy:
    cache: *python-cache
    image: gitlab.lrz.de:5005/i4/software/docker-images/python3.9-poetry
    rules:
        -   if: '$CI_COMMIT_BRANCH == "master"'
    script:
        - poetry config repositories.lrz https://gitlab.lrz.de/api/v4/projects/52151/packages/pypi
        - poetry publish --build --repository lrz --username ${REGISTRY_USERNAME} --password ${REGISTRY_PASSWORD}
    stage: publish
    needs:
        - python:test

:green_heart: Header
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Wget ...
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Cache
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Debug ...
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Install curl
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Requ.
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Stuff
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: ...
  .gitlab-ci.yml
Due: python:setup, python:test

:green_heart: Fix ...
  .gitlab-ci.yml
  requirements.txt
Due: python:setup, python:test

:pencil: Updated API
  README.md
Due: none

:lock: SHA3
  src/sharelatex_versioning/logic/hash_file.py
  src/sharelatex_versioning/main.py
Due: python:test

:green_heart: Python version
  .gitlab-ci.yml
Due: python:setup, python:test

:bookmark: 0.1.3
  pyproject.toml
Due: python:setup

:arrow_down: Python
  pyproject.toml
Due: python:setup

:pushpin: Dependencies
  poetry.lock
Due: python:setup

:bug: TypedDict
  pyproject.toml
Due: python:setup

:pushpin: All
  poetry.lock
Due: python:setup

:bug: Import bug
  src/sharelatex_versioning/classes/configuration.py
Due: none

:bug: Join on Winodws
  src/sharelatex_versioning/logic/download_zip.py
Due: none

:bookmark: 0.1.5
  pyproject.toml
Due: python:setup

:bookmark: 0.1.6
  pyproject.toml
Due: python:setup

:bug: No .gitignore
  src/sharelatex_versioning/logic/download_zip.py
Due: none

:wrench: Mypy
  .mypy.ini
Due: none

:construction_worker: Hints from thomas
  .gitlab-ci.yml
Due: python:setup, python:test

:heavy_plus_sign: Tools from Thomas
  pyproject.toml
Due: python:setup

:bookmark: 0.1.7
  pyproject.toml
Due: python:setup

:pushpin: Tools from thomas
  poetry.lock
Due: python:setup

:label: Mypy
  src/sharelatex_versioning/classes/configuration.py
  src/sharelatex_versioning/logic/download_zip.py
Due: none

:green_heart: Cobertura
  .gitlab-ci.yml
Due: python:setup, python:test

:wrench: CI
  .gitlab-ci.yml
Due: python:setup, python:test

:truck: no src
  sharelatex_versioning/__init__.py
  sharelatex_versioning/classes/__init__.py
  sharelatex_versioning/classes/configuration.py
  sharelatex_versioning/logic/__init__.py
  sharelatex_versioning/logic/download_zip.py
  sharelatex_versioning/logic/hash_file.py
  sharelatex_versioning/main.py
  sharelatex_versioning/tests/__init__.py
  sharelatex_versioning/tests/rsc/__init__.py
  sharelatex_versioning/tests/rsc/t.zip
  sharelatex_versioning/tests/rsc/t2.zip
  sharelatex_versioning/tests/rsc/t3.zip
  sharelatex_versioning/tests/test_zip_hash.py
Due: none

:construction_worker: No src
  .gitlab-ci.yml
Due: python:setup, python:test

:sparkles: Version
  sharelatex_versioning/main.py
Due: none

:sparkles: Password via cli
  sharelatex_versioning/logic/download_zip.py
  sharelatex_versioning/main.py
Due: none

:green_heart: Dependency
  .gitlab-ci.yml
Due: python:setup, python:test

:sparkles: Password handling with keyring
  sharelatex_versioning/logic/download_zip.py
  sharelatex_versioning/main.py
  sharelatex_versioning/password_handling.py
Due: none

:label: No password in configuration file
  rsc/config.schema.json
Due: none

:heavy_plus_sign: Keyring
  poetry.lock
  pyproject.toml
Due: python:setup
